body {
    font-family: sans-serif;
}

h1{
    text-align: center;

}

header img{
    height: 80px;
    width: 80px;
}

.menu-item {
    text-decoration: none;
    border: 1px solid rgb(76, 76, 230);
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

h2 {
    text-align: center;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
